/*
Shannon Jester

Light Pink - #d49e99
Dark Pink - #b23f73
Grey Blue - #48647c
*/


a {
    color: #b23f73;
}
h1 {
    color: #b23f73;
}


.color1{
    width: 200px;
    height: 200px;
    background-color: #d49e99;
}
.color2{
    width: 200px;
    height: 200px;
    background-color: #b23f73;
}
.color3{
    width: 200px;
    height: 200px;
    background-color: #48647c;
}