/*
Shannon Jester

Light Pink - #d49e99
Dark Pink - #b23f73
Grey Blue - #48647c
*/

header{
   background-color: #dddddd;
    width: 800px; 
    margin-left: auto;
    margin-right: auto;
        
}
header h1{
    text-align: center;
}
header h2{
    text-align: center;
}
a {
    color: #b23f73;
}
h1 {
    color: #b23f73;
}


.color1{
    width: 200px;
    height: 200px;
    background-color: #d49e99;
}
.color2{
    width: 300px;
    height: 300px;
    background-color: #b23f73;
}
.color3{
    width: 400px;
    height: 400px;
    background-color: #48647c;
}