/*
Shannon Jester

Light Pink - #d49e99
Dark Pink - #b23f73
Grey Blue - #48647c
*/
@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(http://fonts.googleapis.com/css?family=Dosis);
@import url(http://fonts.googleapis.com/css?family=Nunito);

.main{
    width: 60%;
    float: left;
    border: 4px solid purple;
    margin: 2%;
    background-color: white;
}
.sidebar{
    width: 30%;
    float: left;
    border: 4px solid purple;
    margin: 2%;
    background-color: white;
}
.site-footer{
    border: 4px solid purple;
    background-color: white;
}
header{
    margin-left: auto;
    margin-right: auto;   
    background-color: grey;
}
header h1{
    text-align: left;
    padding: 5px;
}
header h2{
    text-align: left;
    padding; 5px;
}
a {
    color: #b23f73;
}
h2{
    font-family: Josefin Sans; 
    padding; 5px;
}
h1 {
    color: #b23f73;
    font-family: Pacifico;
}
h3{
    font-family: Dosis; 
    padding: 6px;
}
body{
    font-family: Nunito;
    font-size: 1.5em; 
    background-image: url(../images/subtle_white_mini_waves/subtle_white_mini_waves.png);
}
ul{
    list-style: none;
    padding: 5px;
}
li{
    padding: 6px; 
}
.colorsquare{
    width: 100px;
    height: 100px;
    float: left;
}
.color1{
    background-color: #d49e99;
}
.color2{
    background-color: #b23f73;
}
.color3{
    background-color: #48647c;
}
.site-footer a{
    font-size: 2em;
    color: green;
}
.site-footer a:hover{
    color: purple;
}


.clearfix:before,
.clearfix:after {
    content:" ";
    display: table;
}
.clearfix:after {
    clear: both;
}
